/* color palette from <https://github.com/vuejs/theme> */
:root {
  --shadow-grey: #212529;
  --gunmetal: #343a40;
  --iron-grey: #495057;
  --slate-grey: #6c757d;
  --pale-slate: #adb5bd;
  --alabaster-grey: #dee2e6;
  --platinum: #e9ecef;
  --bright-snow: #f8f9fa;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--bright-snow);
  --color-background-container: var(--bright-snow);
  --color-border: var(--gunmetal);

  --color-heading: var(--shadow-grey);
  --color-text: var(--shadow-grey);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
